<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    <link rel="stylesheet" href="css/dash.css">
</head>
<body>
    <div class="container">
    <div class="nav">
        <img class="logo" src="img/Vector1.png" alt="">
        <h1 class="prm">Cluster Maul Hill</h1>
        <img class="prof" src="img/Ellipse.png" alt="">
        <h2 class="us">Aditya</h2>
        <a href="/dashboard" class="boa">Dashboard</a>
        <a href="/transaksi"class="tr">Transaksi</a>
        <a href="/penghuni"class="ph">Penghuni</a>
        <a href="/pesan"class="ps">Pesan</a>
        <a href="/berita"class="ber">Berita</a>
    </div>
    <div class="con">
        <h1 class="sh">Dashboard</h1>
        <div class="tp">
            <h2 class="tph">Total Penghuni</h2>
            <p class="atph"><%= penghuni.length %></p>
            <img class="bk" src="img/Intersect.png" alt="">
        </div>
        <div class="pb">
            <h2 class="pbl">Pemasukan Bulanan</h2>
            <p class="apbl">Rp 33.300.000</p>
        </div>
        <div class="sb">
            <h3 class="sby">Sudah Bayar</h3>
            <p class="asby">90</p>
        </div>
        <div class="bb">
            <h3 class="bby">Belum Bayar</h3>
            <p class="abby">3</p>
        </div>
    </div>
</div>
</body>
</html>