<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Tagihan</title>
    <link rel="stylesheet" href="css/style.css" />
  </head>
  <body>
    <div class="container">
      <img class="img" src="img/Vector.png" alt="" />
      <h1>Cluster Maul Hill</h1>
      <div class="rinci">
        <h2 class="tag">Tagihan Bulan September</h2>
        <p class="air">Air</p>
        <p class="pa">Rp 250.000</p>
        <p class="keam">Keamanan</p>
        <p class="pk">Rp 70.000</p>
        <p class="kebe">Kebersihan</p>
        <p class="pb">Rp 50.000</p>
        <img class="gr" src="img/garus.png" alt="">
        <p class="tot">Total</p>
        <p class="pt">Rp 370.000</p>
      </div>
      <div class="metod">
        <h2 class="tod">Metode Pembayaran</h2>
        <p class="bca"><input type="radio" name="bank" value="BCA"> BCA</p>
        <p class="bri"><input type="radio" name="bank" value="BRI">  BRI</p>
        <p class="mandiri"><input type="radio" name="bank" value="Mandiri"> Mandiri</p>
        <p class="bsi"><input type="radio" name="bank" value="BSI"> BSI</p>
        <p class="bni"><input type="radio" name="bank" value="BNI"> BNI</p>
      </div>
      <div class="pay">
        <h2 class="paym">Pembayaran</h2>
        <p class="norek">Nomor Rekening</p>
        <input type="text" class="inpn">
        <p class="name">Atas Nama</p>
        <input type="text" class="inpm">
        <p class="totpem">Total Pembayaran</p>
        <input type="text" class="inpt">
        <p class="ung">Unggah Bukti Pembayaran</p>
         <input type="file" class="btn-2" id="file" />
         <label for="file" class="btn-2">Unggah</label>
        <button class="konf">Konfirmasi Pembayaran</button>
      </div>
    </div>
  </body>
</html>
