<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Transaksi</title>
    <link rel="stylesheet" href="css/tr.css">
</head>
<body>
    <div class="container">
        <div class="nav">
            <img class="logo" src="img/Vector1.png" alt="">
            <h1 class="prm">Cluster Maul Hill</h1>
            <img class="prof" src="img/Ellipse.png" alt="">
            <h2 class="us">Aditya</h2>
            <a href="/dashboard" class="boa">Dashboard</a>
            <a href="/transaksi"class="tr">Transaksi</a>
            <a href="/penghuni"class="ph">Penghuni</a>
            <a href="/pesan"class="ps">Pesan</a>
            <a href="/berita"class="ber">Berita</a>
        </div>
        <div class="con">
            <h1 class="sh">Daftar Transaksi</h1>
            <div class="tag">
            <h1 class="tags">Tagihan</h1>
            <p class="pp">Pilih Penghuni</p>
            <select class="drop" name="dropdown" id="">
                <option value="1m">Roy Handsome</option>
                <option value="2m">Aldi Ganteng</option>
                <option value="3m">Kevin Ramadhan</option>
                <option value="2d">Steven Con</option>
                <option value="4d">Uajng Iteng</option>
            </select>
            <p class="ta">Tagihan air</p>
            <input type="text" class="inpa">
            <p class="tk">Tagihan Keamanan</p>
            <input type="text" class="inpt">
            <p class="tb">Tagihan Kebersihan</p>
            <input type="text" class="inpk">
            <button class="krm">Kirim Tagihan</button>
            </div>
            <div class="stap">
            <h1 class="sp">Status Pembayaran</h1>
            <table>
                <tr class="up">
                    <td class="no">No</td>
                    <td class="name">Nama</td>
                    <td class="ket">Keterangan</td>
                </tr>
                <tr>
                    <td class="usr" style=padding:20px;>1</td>
                    <td class="usr">Roy Handsome</td>
                    <td class="usr">Melakukan Pembayaran Bulan September
                        <button class="lh" style="margin: 20px; ">Lihat</button>
                        <button class="ed" style="margin: 20px; ">Terima</button>
                    </td>
                </tr>
                <tr>
                    <td class="usr" style=padding:20px;>2</td>
                    <td class="usr">Roy Handsome</td>
                    <td class="usr">Melakukan Pembayaran Bulan September 
                        <button class="lh" style="margin: 20px; ">Lihat</button>
                        <button class="ed" style="margin: 20px; ">Terima</button>
                    </td>
                </tr>
                <tr>
                    <td class="usr" style=padding:20px;>3</td>
                    <td class="usr">Roy Handsome</td>
                    <td class="usr">Melakukan Pembayaran Bulan September
                        <button class="lh" style="margin: 20px; ">Lihat</button>
                        <button class="ed" style="margin: 20px; ">Terima</button></td>
                </tr>
                <tr>
                    <td class="usr" style=padding:20px;>4</td>
                    <td class="usr">Roy Handsome</td>
                    <td class="usr">Melakukan Pembayaran Bulan September 
                        <button class="sd" style="margin-left: 60px; ">Lihat</button>
                       
                </tr>
                <tr>
                    <td class="usr" style=padding:20px;>5</td>
                    <td class="usr">Roy Handsome</td>
                    <td class="usr">Melakukan Pembayaran Bulan September 
                        <button class="sd" style="margin-left: 60px; ">Lihat</button>
                          
                    </td>
                </tr>
            </table>
            </div>
            </div>

</body>
</html>