<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Update Berita</title>
    <link rel="stylesheet" href="css/update.css">
</head>
<body>
    <div class="container">
        <div class="nav">
            <img class="logo" src="img/Vector1.png" alt="">
            <h1 class="prm">Cluster Maul Hill</h1>
            <img class="prof" src="img/Ellipse.png" alt="">
            <h2 class="us">Aditya</h2>
            <a href="/dashborad.ejs" class="boa">Dashboard</a>
        <a href="/transaksi.ejs"class="tr">Transaksi</a>
        <a href="/pnghn.ejs"class="ph">Penghuni</a>
        <a href="https://app.crisp.chat/website/6cf840b1-2824-4046-adb9-d74aff907c1b/inbox/session_cee53073-701c-4371-8245-e2f641cbe20b/"class="ps">Pesan</a>
        <a href="/berita.ejs"class="ber">Berita</a>
        </div>
        <div class="con">
            <form action="/update-berita" method="post">
            <h1 class="sh">Update Berita</h1>
            <p class="jube">Judul Berita</p>
            <input type="text" class="inpn" value="<%= berita.judul_berita %>">
            <p class="isi">Isi Berita</p>
            <textarea class="inpi" name="isi_berita" rows="10" cols="30"><%= berita.isi_berita %></textarea>
            <input type='submit' class="kirim" name='tombol' value='Update berita' />
        </form>
        </div>
        </div>
</body>
</html>