.nav {
  position: absolute;
  width: 192px;
  height: 928px;
  left: -10px;
  top: -19px;

  background: #ffffff;
  box-shadow: 0px 0px 2px 1px rgba(0, 0, 0, 0.25);
  border-radius: 0px 25px 25px 0px;
}

.logo {
  position: absolute;
  left: 60px;
  top: 50px;
}

.prm {
  position: absolute;
  width: 320px;
  height: 18px;
  left: 20px;
  top: 95px;

  font-family: "Open Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  /* identical to box height, or 169% */

  color: #3159c2;
}

.prof {
  position: absolute;
  width: 93px;
  height: 93px;
  left: 48px;
  top: 170px;
}

.us {
  position: absolute;
  width: 65px;
  height: 24px;
  left: 60px;
  top: 260px;

  font-family: "Open Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  /* identical to box height, or 118% */

  color: #000000;
}
.con {
  width: 1248px;
}
.boa {
  position: absolute;
  width: 77px;
  height: 24px;
  left: 53px;
  top: 350px;
  text-align: center;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  /* identical to box height, or 169% */

  color: #b3b3b3;
}

.tr {
  position: absolute;
  width: 68px;
  height: 24px;
  left: 53px;
  top: 400px;
  text-align: center;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;

  color: #b3b3b3;
}

.ph {
  position: absolute;
  width: 67px;
  height: 24px;
  left: 53px;
  top: 450px;
  text-align: center;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;

  color: #b3b3b3;
}

.ps {
  position: absolute;
  width: 42px;
  height: 24px;
  left: 53px;
  top: 500px;
  text-align: center;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;

  color: #b3b3b3;
}

.ber {
  position: absolute;
  width: 43px;
  height: 24px;
  left: 53px;
  top: 550px;
  text-align: center;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;

  color: #3159c2;
}

.sh {
  position: absolute;
  width: 303px;
  height: 24px;
  left: 243px;
  top: 25px;

  font-family: "Open Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 28px;
  line-height: 24px;

  color: #3159c2;
}

.shh {
  position: absolute;
  width: 76px;
  height: 32px;
  left: 243px;
  top: 80px;

  font-family: "Open Sans";
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
  /* or 118% */

  color: #090909;
}

table {
  position: absolute;
  width: 1120px;
  height: 240.21px;
  left: 243px;
  top: 140px;
}

.up {
  width: 1100px;
  height: 50px;
  background: rgba(255, 255, 255, 0.95);
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.15);
  border-radius: 23px;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 22px;

  color: #3159c2;
}

.no {
  padding-left: 20px;
  width: 190px;
}

.name {
  width: 250px;
}
.usr {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 27px;
  /* identical to box height */

  color: #000000;
}

.lh {
  border: white;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  /* identical to box height */
  padding: 5px;
  /* white */

  color: #ffffff;
  background: #1d4ed8;
  border-radius: 3px;
}

.ed {
  border: white;
  padding: 5px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  /* identical to box height */

  /* white */

  color: #ffffff;
  background: #d81d1d;
  border-radius: 3px;
}

.rol {
  position: absolute;
  left: 600px;
  top: 410px;
}

.upl {
  border: white;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 27px;

  color: #ffffff;
  position: absolute;
  width: 206px;
  height: 34px;
  left: calc(50% - 206px / 2 + 511px);
  top: 95px;

  background: #3159c2;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.11);
  border-radius: 25px;
}
